<p>Dear Alderperson <%= @name %>,</p>

<p>
  Chicago's street sweeping season officially begins on Wednesday, April 1. Unfortunately, the City of Chicago has
  <%= link_to "delayed the release of the #{Time.current.year} street sweeping zone data", "https://data.cityofchicago.org/stories/s/Delayed-Street-Sweeping-Zones-Dataset-3-31-2026/fuz6-n5nj/" %>
  that <%= link_to ENV["SITE_NAME"], ENV["SITE_URL"] %> relies upon in order to send street sweeping alerts to subscribers.
</p>

<p>
  Until the City publishes this data, we will not be able to send alerts to residents of Ward <%= @ward %> (or any other ward) who have subscribed to our service.
</p>

<p>
  We wanted to let your office know in case constituents reach out about street sweeping schedules. In the meantime, residents can check the
  <%= link_to "Department of Streets and Sanitation page", "https://www.chicago.gov/city/en/depts/streets/provdrs/streets_san/svcs/street_sweeping2026.html" %>
  for upcoming sweeps in their area.
</p>

<p>
  We will send a follow-up once the data is available and alerts are up and running.
</p>

<p>
  Please note that <%= ENV["SITE_NAME"] %> is not affiliated with the City of Chicago.
</p>

<%= render "shared/email_footer", signoff: "Best regards,", coffee_link: false %>
