<% content_for :preheader do %>The <%= Time.current.year %> Chicago street sweeping schedule is now live.<% end %>

<p>Hello,</p>

<p>
  You are receiving this email because you subscribed to Chicago street sweeping alerts for the following street address: <%= @street_address %> (<%= link_to @area.name, @area %>).
</p>

<p>
  If you no longer want to receive alerts for this address, <%= link_to "unsubscribe by clicking here", @unsubscribe_url %>, or <%= link_to "manage your subscriptions", @manage_url %>.
</p>

<p>
  If you have moved and wish to receive alerts for a new address, <%= link_to "create a new subscription", ENV["SITE_URL"] %>.
</p>

<%= render "shared/email_footer", disclaimer: true %>
