<p>Hello,</p>

<p>
  You are receiving this email because we have received a request to subscribe
  <strong><%= @email %></strong> to Chicago street sweeping alerts for <strong><%= @formatted_address_area %></strong>.
  Alerts will be sent out one day prior to a scheduled street sweeping.
</p>

<p>
  <%= link_to "Click here to confirm your subscription", @confirmation_url %>
</p>

<p>
Cheers,<br />
<%= ENV["SITE_NAME"] %>
</p>

---

<p>
  <%= link_to "Unsubscribe", @unsubscribe_url %>
</p>
