<p>Hello,</p>

<p>
  We've just updated the Chicago street sweeping schedules for the <%= Time.current.year %> season, and wanted to let you know that your subscription for <strong><%= @area.name %></strong> has been canceled. (This is because your subscription was unconfirmed and/or did not have a specific street address, and because the City's sweeping areas often change from year to year.)
</p>

<p>
  If you'd like to continue receiving alerts for this (or another) area, <%= link_to "please visit our website and re-subscribe", ENV["SITE_URL"] %>.
</p>

<p>
  Cheers,<br />
  <%= link_to ENV["SITE_NAME"], ENV["SITE_URL"] %>
</p>

<% if ENV["COFFEE_LINK_URL"].present? %>
<p style="margin-top: 20px; padding-top: 15px; border-top: 1px solid #eee;">
  ☕ Enjoying this free service? <%= link_to "Buy us a coffee!", ENV["COFFEE_LINK_URL"] %>
</p>
<% end %>
