<% content_for :preheader do %>Heads up: street sweeping for <%= @street_address || @area.name %> begins tomorrow.<% end %>

<p>Hello,</p>

<% if @street_address %>
  <p>This is a reminder that street sweeping for <%= @street_address %> (<%= link_to @area.name, @area %>) will begin tomorrow.</p>
<% else %>
  <p>This is a reminder that street sweeping for <%= link_to @area.name, @area %> will begin tomorrow.</p>
<% end %>

<ul>
  <% @dates.each do |date| %>
    <li><%= date %></li>
  <% end %>
</ul>

<%= render "shared/email_footer", disclaimer: true, manage_url: @manage_url, unsubscribe_url: @unsubscribe_url %>
