<% content_for :preheader do %><%= Time.current.year %> Chicago street sweeping data is delayed; alerts are paused until the City publishes the schedule.<% end %>

<p>Hello,</p>

<p>
  You are receiving this email because you subscribed to Chicago street sweeping alerts through <%= link_to ENV["SITE_NAME"], ENV["SITE_URL"] %> for <%= @street_address %>.
</p>

<p>
  Chicago's street sweeping season officially begins on Wednesday, April 1. Unfortunately, the City of Chicago has <%= link_to "delayed the release of the #{Time.current.year} street sweeping zone data", "https://data.cityofchicago.org/stories/s/Delayed-Street-Sweeping-Zones-Dataset-3-31-2026/fuz6-n5nj/" %> that we rely upon in order to determine when your street will be swept.
</p>

<p>
  Until the City publishes this data and We The Sweeple (unaffiliated with the City) is able to process that data, we will not be able to send street sweeping alerts. Because of that, please check the <%= link_to "Department of Streets and Sanitation page", "https://www.chicago.gov/city/en/depts/streets/provdrs/streets_san/svcs/street_sweeping2026.html" %> for upcoming sweeps in your area.
</p>

<p>
  We will notify you once the schedule is available and alerts are up and running.
</p>

<%= render "shared/email_footer", manage_url: @manage_url, unsubscribe_url: @unsubscribe_url %>
