<%= content_for :page_title, @area.name %>

<div class="flex-1">
  <%= render "shared/header" %>

  <main>
    <div class="max-w-6xl mx-auto px-4">
      <div class="lg:flex items-center my-6">
        <div class="flex-1 lg:mb-0">
          <h1 class="mb-1 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            <%= @area.name %>
          </h1>
          <% if @searched_address.present? %>
            <p class="text-sm text-gray-500 mt-1"><%= @searched_address %></p>
          <% elsif @adjacent_to_address.present? %>
            <p class="text-sm text-gray-500 mt-1">Adjacent sweep area (<%= @adjacent_to_address %>)</p>
          <% end %>
        </div>

        <div class="mt-4 text-sm lg:mt-0 bg-blue-50 py-2 px-4 rounded-md">
          <div class="text-xs font-medium uppercase text-blue-600">
            Next Sweeps
          </div>
          <div class="text-blue-800 font-medium"><%= @area.next_sweep %></div>
        </div>
      </div>

      <div class="lg:grid grid-cols-2 gap-8">
        <div class="rounded-lg overflow-hidden">
          <%= @area.map_image(show_marker: @show_search_marker) %>
        </div>

        <aside class="flex-1 my-6 lg:my-0 max-w-xl">
          <!-- Subscribe -->
          <%= render "subscribe" %>
          <%= render "schedule" %>
          <%= render "neighbors" if @neighbors.present? %>
        </aside>
      </div>

      <div class="my-8 border-l-4 border-gray-300 pl-4 py-2 text-sm text-gray-500">
        <p>
          Note: This site does not guarantee that the information presented is accurate, or that notifications will be delivered on a timely basis. For up-to-date parking information, please consult street signage and the websites for the <a href="https://www.chicago.gov/city/en/depts/streets.html" class="underline hover:text-gray-700" target="_blank">Department of Streets and Sanitation</a> and <a href="https://www.chicago.gov/city/en/about/wards.html" class="underline hover:text-gray-700" target="_blank">your local Ward or alderperson</a>.
        </p>
      </div>
    </div>
  </main>
</div>
